.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.title {
  color: var(--nameChat);
  font-size: 1em;
}
.message {
  color: var(--messageChatPreview);
  font-size: 0.9em;
}
