.buttonHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0.35em 0 0 0;
  border-radius: 3em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.circleOFF {
  width: 30px;
  height: 30px;
}

.buttonHeader:hover:not(.circleOFF) {
  background-color: #ffffff15;
}

.menuProfile {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 1.1em;
  top: 3.5em;
  background-color: var(--backMenu);
  border-radius: 0.25em;
  padding: 0.6em 0;
  transform-origin: right top;
  animation: animationMenu 0.15s ease-out;
  width: max-content;
  z-index: 3;
  opacity: 1;
}

.isPositionArrow {
  top: 1.5em;
}
@keyframes animationMenu {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.buttonMenu {
  padding: 0.65em 58px 0 24px;
  height: 40px;
  background-color: transparent;
  border: none;
  font-size: 14.5px;
  color: var(--nameChat);
  text-align: left;
  cursor: pointer;
  list-style: none;
  width: 100%;
  word-break: break-all;
}

.buttonMenu:hover {
  background-color: var(--backMenuOver);
}
